<div class="p-6 text-center">
  <h2 *ngIf="!ticketResponse" class="text-2xl font-semibold mb-6 text-gray-800">
    Podaj dane do rezerwacji
  </h2>

  <h2 *ngIf="ticketResponse" class="text-2xl font-semibold mb-6 text-gray-800">
    Podsumowanie rezerwacji
  </h2>

  <div *ngIf="!ticketResponse">
    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="space-y-4 max-w-md mx-auto text-left"
      novalidate
    >
      <div>
        <input
          type="text"
          formControlName="name"
          placeholder="Imię"
          class="w-full border border-gray-300 rounded px-3 py-2"
        />
        <div
          *ngIf="form.controls['name'].touched && form.controls['name'].invalid"
          class="text-red-500 text-sm mt-1"
        >
          Imię jest wymagane.
        </div>
      </div>

      <div>
        <input
          type="text"
          formControlName="surname"
          placeholder="Nazwisko"
          class="w-full border border-gray-300 rounded px-3 py-2"
        />
        <div
          *ngIf="
            form.controls['surname'].touched && form.controls['surname'].invalid
          "
          class="text-red-500 text-sm mt-1"
        >
          Nazwisko jest wymagane.
        </div>
      </div>

      <div>
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          class="w-full border border-gray-300 rounded px-3 py-2"
        />
        <div
          *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']"
          class="text-red-500 text-sm mt-1"
        >
          Email jest wymagany.
        </div>
        <div
          *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['email']"
          class="text-red-500 text-sm mt-1"
        >
          Wprowadź poprawny adres email.
        </div>
      </div>

      <div *ngIf="error" class="text-red-500 text-sm">{{ error }}</div>

      <button
        type="submit"
        [disabled]="form.invalid || loading"
        class="w-full bg-indigo-700 text-white py-2 rounded hover:bg-indigo-800 transition cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Zatwierdź
      </button>
    </form>
  </div>

  <div *ngIf="ticketResponse" class="mt-8 pt-6">
    <h3 class="text-lg font-semibold mb-4 text-gray-700">Szczegóły biletu</h3>
    <app-ticket-details [ticket]="ticketResponse" />
    <button
      (click)="close()"
      class="bg-gray-600 text-white mt-5 px-4 py-2 rounded hover:bg-gray-700 transition cursor-pointer"
    >
      Zamknij
    </button>
  </div>
</div>
